.header {
    background-color: black;
    padding: 25px 40px;
}

.logo {
    font-size: 36px;
    font-family: sans-serif;
    color: white;
    transition: .3s;
}

.logo:hover {
    color: rgb(249, 249, 66);
}

a {
    text-decoration: none;
}
