<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HLTBYS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='clean.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    {% include 'header.html' %}
    
    <main>
        <div class="form-container">
            <form id="redirectForm" action="/redirect" method="post">
                <label for="idInput">Enter your Steam ID:</label>
                <input type="text" id="idInput" name="id" required>
                <button id="submit" type="submit">Submit</button>
            </form>
        </div>
    </main>

    <script>
        'use strict'

        document.getElementById('redirectForm').addEventListener('submit', function(event) {
            event.preventDefault(); 
            let id = document.getElementById('idInput').value;
            window.location.href = '/results/' + id;
        });
    </script>
</body>
</html>